<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".PetProfileApplication"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetProfile">

        <activity
            android:name=".ui.QrScannerActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <receiver
            android:name=".ui.RoutineAlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".ui.RoutineBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".ui.MapPickerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RecordEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RecordDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RecordListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
